<div class="container my-2 col-md-8">
    <!-- <div class="alert alert-dismissible alert-primary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Alert!</strong> Make sure you have read the <a href="#" class="alert-link">guidelines</a> and then
        submit the question.
    </div> -->
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="">
        <div class="form-group">
            <label for="title">Question Title</label>
            <input type="text" class="form-control" id="ques_title" aria-describedby="quesTitleHelp"
                placeholder="Question title" name="title" required ngModel>
            <small id="quesTitleHelp" class="form-text text-muted">Make sure there is not a same/similar question asked
                already. In that case this might get deleted later or may get flagged by the community. Read the
                <u class="guidelines" (click)="toggleModal()">guidelines</u>
            </small>
        </div>
        <div class="form-group">
            <label for="question_body">Question Body</label>
            <textarea class="form-control" id="question_body" placeholder="What exact problem you have?" rows="7"
                name="description" required ngModel></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid"
            [ngClass]="{ 'cursor-not-allowed': !form.valid, 'cursor-pointer': form.valid }">Submit</button>
    </form>
</div>
<div class="modal" [ngClass]="{ 'showModal': modal===true, 'hideModal': modal===false }">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Qna Guidelines</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>List of all the requirements for asking questions and answering.</p>
                <ul>
                    <li>You agree to do this...</li>
                    <li>You agree to do that...</li>
                    <li>This that this that bla bla bla...</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="toggleModal()">I accept</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="toggleModal()">Close</button>
            </div>
        </div>
    </div>
</div>