<div class="container">
    <div class="row">
        <div class="col-md-4">NAME</div>
        <div class="col-md-4 text-center">
            <h3 class="news-heading">DAILY NEWS</h3>
            <!-- <p class="news-name">DAILY NEWS</p> -->
            <p>{{ date | date }}</p>
        </div>
        <div class="col-md-4 text-right">SOEMTHING</div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-3">
            <div class="">
                <!-- <img src="../../assets/explore/deno.jpg" class="img-fluid col-md-7" alt="Responsive image"> -->
                <h3>Headline</h3>
                <p class="">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
            <hr>
            <div>
                <img src="../../assets/explore/deno.jpg" class="img-fluid" alt="Responsive image">
                <p class="mt-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
            <hr>
            <div>
                <img src="../../assets/explore/deno.jpg" class="img-fluid" alt="Responsive image">
                <p class="mt-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/explore/deno.jpg" class="img-fluid" alt="Responsive image">
            <h1 class="display-4 text-center news-heading">DENO IS OUT!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <div class="d-flex justify-content-between">
                <footer class="blockquote-footer">Article by <cite title="Source Title">Ashish</cite></footer>
                <div>
                    <div class="btn btn-primary mx-1 prev"><</div>
                    <div class="btn btn-primary mx-1 next">></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="">
                <!-- <img src="../../assets/explore/deno.jpg" class="img-fluid col-md-7" alt="Responsive image"> -->
                <h3>Headline</h3>
                <p class="">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
            <hr>
            <div>
                <img src="../../assets/explore/deno.jpg" class="img-fluid" alt="Responsive image">
                <p class="mt-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
            <hr>
            <div>
                <img src="../../assets/explore/deno.jpg" class="img-fluid" alt="Responsive image">
                <p class="mt-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
        </div>
    </div>
</div>