/* footer {
    display: flex;
    flex-direction: column;
    background-color: #576490;
    color: white;
    padding: 0rem 4rem;
    font-size: 14px;
    border: 1px solid red;
}

li {
    margin: 0.5rem 0rem;
}

li a {
    color: whitesmoke;
}

ul {
    padding: 0;
}

.footerTop {
    display: flex;
    justify-content: space-between;
}

.footerTopList {

}

.listHeading {
    font-size: 16px;
}

.socialList {
    display: flex;
}

.footerBottomList {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D1D2F9;
    width: 100%;
    padding: 0.5rem 0rem;
    margin: 0;
    border: 1px solid green;
} */

footer {
    padding: 1rem 6rem;
    margin-top: 4rem;
    background-color: #F7F7F9;
}

.backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(206, 215, 223);
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-backToTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }