<!-- <footer>
    <div class="footerTop">
        <ul>
            <li><a href="#" class="listHeading">Logo</a></li>
            <li>
                <p>Website Description</p>
            </li>
            <li>
                <ul class="socialList">
                    <li><a href="#">Social</a></li>
                    <li><a href="#">Social</a></li>
                    <li><a href="#">Social</a></li>
                    <li><a href="#">Social</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li class="listHeading">Useful Links</li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Signup</a></li>
        </ul>
        <ul>
            <li class="listHeading">Contact Us</li>
            <li>Address</li>
            <li>Phone</li>
            <li>Email</li>
        </ul>
        <ul>
            <li class="listHeading">Subscribe Us</li>
            <li>Get latest updates!</li>
            <li>form</li>
        </ul>
    </div>
    <ul class="footerBottomList">
        <li>Terms and Conditions | Privacy Policy</li>
        <li>Copyright CompanyName. All Rights Reserved.</li>
    </ul>
</footer> -->

<footer class="row">
    <div class="col-lg-12">
        <ul class="list-unstyled">
            <li class="float-lg-right">
                <a (click)="scrollToTop()">
                    <i class="fa fa-chevron-up backToTop" [ngClass]="{'show-backToTop': windowScrolled}"></i>
                </a>
            </li>
            <li><a routerLink="/blogs">Blog</a>
            </li>
            <li><a routerLink="/explore">Explore</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a href="https://github.com/ashishkumar3/">GitHub</a></li>
            <li><a routerLink="/qna">QNA</a></li>
            <li><a routerLink="/donate">Donate</a></li>
        </ul>
        <p>Made with <3 by <a href="https://instagram.com/ashishk1337">Ashish Kumar</a>.</p>
    </div>
</footer>