<!-- <nav class="navbar">
    <ul class="nav">
        <li class="nav-item">
            <a href="#" src="assets/logos/tree.png">
            </a>
        </li>
    </ul>
    <ul class="nav">
        <li class="nav-item">
            <a href="#">Blogs</a>
        </li>
        <li class="nav-item">
            <a href="#">Projects</a>
        </li>
        <li class="nav-item">
            <a href="#">Login</a>
        </li>
        <li class="nav-item">
            <a href="#">Signup</a>
        </li>
    </ul>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light px-0">
    <div class="container">
        <a class="navbar-brand" routerLink="/">rumpum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/explore" routerLinkActive="active">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/qna" routerLinkActive="active">QNA</a>
                </li> -->
<!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" *ngIf="isLoggedIn">Dashboard</a>
                </li> -->
<!-- <li class="nav-item">
                    <a class="nav-link" *ngIf="isLoggedIn" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isLoggedIn" routerLink="/logout">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Log In</a>
                </li> -->
<!-- </ul> -->
<!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
<!-- </div>
    </div>
</nav> -->

<!-- <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

<mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
    <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
    <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
    <button mat-menu-item>Birds</button>
    <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
    <button mat-menu-item>Arachnids</button>
    <button mat-menu-item>Velvet worms</button>
    <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu">
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
    <button mat-menu-item>Sonoran desert toad</button>
    <button mat-menu-item>Western toad</button>
    <button mat-menu-item>Arroyo toad</button>
    <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
    <button mat-menu-item>Banded Day Gecko</button>
    <button mat-menu-item>Banded Gila Monster</button>
    <button mat-menu-item>Black Tree Monitor</button>
    <button mat-menu-item>Blue Spiny Lizard</button>
    <button mat-menu-item disabled>Velociraptor</button>
</mat-menu> -->

<mat-toolbar color="primary" class="navbar">
    <div><a routerLink="/">Rumpum</a></div>
    <div>
        <span><a routerLink="/explore">Explore</a></span>
        <span><a routerLink="/blogs">Blogs</a></span>
        <span><a routerLink="/qna">Qna</a></span>
        <span><a routerLink="/more">More?</a></span>
    </div>
</mat-toolbar>