<div class="alert alert-dismissible alert-danger" *ngIf="errorMessage">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> {{ errorMessage }}
</div>
<div class="alert alert-dismissible alert-success" *ngIf="successMessage">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong> You successfully added a note!
</div>
<div class="row">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="col-md-6">
        <fieldset>
            <legend>Note</legend>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Note title</label>
                <input type="text" class="form-control" placeholder="Note title" id="inputDefault" name="title" ngModel>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Note description</label>
                <textarea class="form-control" id="exampleTextarea" placeholder="Note description" rows="3"
                    name="description" ngModel></textarea>
            </div>
            <button type="submit" class="btn btn-primary" name="submit_button">Submit</button>
        </fieldset>
    </form>
    <div class=" card border-secondary mb-3 col-md-6" style="max-width: 25rem;">
        <div class="card-header">07-04-2020</div>
        <div class="card-body">
            <h4 class="card-title">{{ form.value.title || 'Title' }}</h4>
            <p class="card-text">{{ form.value.description || 'Your note here' }}</p>
        </div>
    </div>
</div>