<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Course</th>
            <th scope="col">Instructor</th>
            <th scope="col">Progress</th>
        </tr>
    </thead>
    <tbody>
        <tr class="" *ngFor="let course of courses">
            <th scope="row">{{ course.date }}</th>
            <td>{{ course.name }}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.progress }}</td>
        </tr>
    </tbody>
</table>