.disabled-cursor {
    cursor: not-allowed;
}

.signup-banner {
    font-size: 3rem;
}

@media only screen and (max-width: 768px) {
    .btn-primary {
        width: 100%;
    }

    img {
        display: none;
    }

    .signup-banner {
        font-size: 2rem;
    }
}