<div class="d-flex justify-content-center loading" *ngIf="loading">
    <img src="../../assets/loadngs.gif" alt="loading">
</div>
<form *ngIf="!loading" class="container" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <fieldset>
        <div class="alert alert-dismissible alert-warning" *ngIf="errorMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0">{{ errorMessage }}</p>
        </div>
        <legend>Signup</legend>
        <p>Start learning today!</p>
        <div class="row">
            <div class="form-group col-lg-6 has-danger">
                <label for="name">Username*</label>
                <input type="text" class="form-control" id="name" placeholder="Your full name" ngModel name="name"
                    required>
            </div>
            <div class="form-group col-lg-6 has-danger">
                <label for="email">Email address *</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="email@example.com" ngModel name="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 has-danger">
                <label for="password">Password *</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ngModel name="password"
                    required>
                <small id="passwordHelp" class="form-text text-muted">Choose a strong password.</small>
            </div>
            <div class="form-group col-lg-6 has-danger">
                <label for="confirmPassword">Confirm Password *</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Password" ngModel
                    name="confirmPassword" required>
                <small id="passwordHelp" class="form-text text-muted">Rewrite the password.</small>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="form-check" *ngFor="let gender of genders">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" value="{{gender}}" ngModel>
                    {{ gender }}
                </label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        <small id="login" class="form-text text-muted">Already have an account? <a routerLink="/login">Login</a>
            .</small>
    </fieldset>
</form>