.my-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.ques {
    display: flex;
    align-items: center;
}

.rating {
    font-size: 1.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (max-width: 575px) {
    .submit-answer {
        width: 100%;
    }
}