<div class="d-flex justify-content-center loading" *ngIf="loading">
    <img src="../../assets/loadngs.gif" alt="loading">
</div>
<div class="col-md-8 container" *ngIf="question">
    <div class="row border py-2">
        <div class="col-1 flex-column rating">
            <i class="fas fa-angle-up " (click)="incRating()"></i>
            <div class="">{{ question.rating }}</div>
            <i class="fas fa-angle-down " (click)="decRating()"></i>
        </div>
        <div class="col-11">
            <h1>{{ question.title }}</h1>
            <p>{{ question.description }}</p>
            <footer class="blockquote-footer d-flex justify-content-end"><a
                    [routerLink]="['/qna/users', question.user_id]">@{{ question.question_by | titlecase }}</a> <cite
                    title="Source Title"> {{ question.created_at | date: 'EEEE, MMMM d, y' }}</cite>
            </footer>
            <hr>
            <div class="row" *ngFor="let comment of comments">
                <div *ngIf="comment.question_id === question.id">
                    <div class="col-md-1">
                        {{ comment.rating }}
                    </div>
                    <div class="col-md-11">
                        <p>{{ comment.description }} - <a
                                [routerLink]="['users', question.user_id]">@{{ question.question_by | titlecase }}</a>
                            <cite title="Source Title" class="">
                                {{ question.created_at | date: 'EEEE, MMMM d, y' }}</cite>
                        </p>
                    </div>
                </div>
                <hr>
            </div>
            <button class="btn btn-primary btn-sm">Comment</button>
        </div>
    </div>
    <hr>
    <h6>Answers</h6>
    <hr>
    <div class="row border py-2 my-2" *ngFor="let answer of answers">
        <div class="col-md-1">
            <i class="far fa-smile"></i>
            {{ answer.rating }}
        </div>
        <div class="col-md-11">
            <p>{{ answer.description }}</p>
            <footer class="blockquote-footer d-flex justify-content-end"><a
                    [routerLink]="['/qna/users', question.user_id]">@{{ answer.answer_by | titlecase }}</a> <cite
                    title="Source Title"> {{ answer.created_at | date: 'EEEE, MMMM d, y' }}</cite>
            </footer>
            <hr>
            <div class="row" *ngFor="let comment of comments">
                <div *ngIf="comment.answer_id === answer.id">
                    <div class="col-md-1">
                        {{ comment.rating }}
                    </div>
                    <div class="col-md-11">
                        <p>{{ comment.description }} - <a
                                [routerLink]="['/qna/users', comment.user_id]">@{{ comment.comment_by | titlecase }}</a>
                            <cite title="Source Title" class="">
                                {{ comment.created_at | date: 'EEEE, MMMM d, y' }}</cite>
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
            <button class="btn btn-primary btn-sm">Comment</button>
            <hr>
        </div>
        <hr>
    </div>
    <hr>
    <form action="">
        <div class="form-group">
            <label for="answer_body">Your Answer</label>
            <textarea class="form-control" id="answer_body" rows="7"></textarea>
        </div>
        <button type="submit" class="submit-answer btn btn-primary">Submit Answer</button>
    </form>
</div>