<div class="row">
    <div class="list-group col-md-2 px-0">
        <a routerLink="/dashboard/profile" class="list-group-item list-group-item-action active">Profile</a>
        <a routerLink="/dashboard/courses" class="list-group-item list-group-item-action">Courses</a>
        <a routerLink="/dashboard/notes" class="list-group-item list-group-item-action">Notes</a>
        <button class="list-group-item list-group-item-action" (click)="logout()">Logout</button>
    </div>
    <div class="col-md-10 px-0">
        <div class="alert alert-dismissible alert-success text-center col-md-6 container" *ngIf="user">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Welcome!</strong> You are logged in as <a class="alert-link">{{ user.email }}</a>.
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
        <router-outlet></router-outlet>
    </div>
</div>