/* .banner-heading {
    font-size: 6rem;
    font-weight: 800;
    color: #5995ED;
    line-height: 1;
}

main {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
} */

/* .banner-body, .banner-img {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

/* .banner-body p {
    color: var(--text-primary);
}

img {
    width: 50vw;
    height: 60vh;
}

.btn-container {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
} */

/* .btn {
    border: 1px solid black;
    background-color: #5995ED;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    margin: 0 1rem;
} */

/* .modal {
    z-index: 1050;
    display: block;
} */

.gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    text-transform: lowercase;
}

.banner {
    display: flex;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
  }
