<!-- <main> -->
<!-- <div class="banner-body">
        <span class="banner-heading">What is blockchain?</span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, ipsa.</p>
        <div class="btn-container">
            <div class="btn">Explore</div>
        </div>
    </div> -->
<!-- <div class="banner-img">
        <img src="../../assets/svg/work-on-comp.svg" alt="">
    </div> -->
<!-- </main> -->

<div class="gradient">
    <h1 class="banner">Just something to do</h1>
</div>

<div class="blog-container row">
    <div class="col-md-6 d-flex justify-content-center
    align-items-center">
        <img src="../../assets/svg/blog.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex justify-content-left
    align-items-center row">
        <!-- To make it in col -->
        <div class="text-center">
            <h1 class="display-4 blog-banner">Read the blogs</h1>
            <button class="btn btn-primary" routerLink="/blogs">Go to blogs</button>
        </div>
    </div>
</div>

<div class="ques-container row">
    <div class="col-md-6 d-flex justify-content-center
    align-items-center order-sm-2">
        <img src="../../assets/svg/questions/big_question_mark.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex justify-content-left
align-items-center row order-sm-1">
        <!-- To make it in col -->
        <div class="text-center">
            <h1 class="display-4 ques-banner">Got questions?</h1>
            <button class="btn btn-primary" routerLink="/qna">We got answers</button>
        </div>
    </div>
</div>