.gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    text-transform: lowercase;
}

.banner {
    display: flex;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
  }

.blog-container, .ques-container {
    /* height: 100vh; */
    margin: 2rem 0rem;
}

.blog-banner, .ques-banner {
    font-family: 'Pacifico', cursive;
    padding: 3rem;
}

@media only screen and (max-width: 600px) {
    .row {
        background-color: lightblue;
    }

    .banner {
        text-align: center;
        margin: 2rem;
    }
}