<!-- <main> -->
<!-- <div class="banner-body">
        <span class="banner-heading">What is blockchain?</span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, ipsa.</p>
        <div class="btn-container">
            <div class="btn">Explore</div>
        </div>
    </div> -->
<!-- <div class="banner-img">
        <img src="../../assets/svg/work-on-comp.svg" alt="">
    </div> -->
<!-- </main> -->

<div class="jumbotron text-center container">
    <h1 class="display-3">Together we learn!🎉</h1>
    <p class="lead">Learn programming with the best articles available on the internet ✨✨🌟</p>
    <hr class="my-4">
    <p>something somehitng.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="isLoggedIn ? ['/explore'] : ['/signup']"
            role="button">{{ isLoggedIn ? 'Explore' : 'Sign Up' }}</a>
    </p>
</div>

<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>